{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}
  metosin/muuntaja {:mvn/version "0.6.8"}
  http-kit/http-kit {:mvn/version "2.5.3"}
  metosin/malli {:mvn/version "0.5.1"}
  hiccup/hiccup {:mvn/version "1.0.5"}}

 :aliases
 {:scramble {:main-opts ["-m" "yvern.scramble.core"]}

  :dev {:extra-paths ["test"]
        :extra-deps {etaoin/etaoin {:mvn/version "0.4.5"}
                     ffclj/ffclj {:mvn/version "0.1.2"}}}

  :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.861"}}
         :main-opts ["-m" "kaocha.runner"]}

  :no-api {:replace-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}

  :pkg {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
        :jvm-opts ["-Dclojure.compiler.direct-linking=true"]}

  :cli {:exec-fn hf.depstar/uberjar
        :exec-args {:aot true
                    :jar "scramble.jar"
                    :main-class "yvern.scramble.core"
                    :aliases [:no-api]}}

  :api {:exec-fn hf.depstar/uberjar
        :exec-args {:aot true
                    :jar "scramble-api.jar"
                    :main-class "yvern.scramble.api"}}

  :dev-client {:main-opts ["-m" "yvern.scramble.api"]}

  :sidenotes {:extra-deps {sidenotes/sidenotes {:mvn/version "RELEASE"}}
              :main-opts  ["-m" "sidenotes.core"]}}}
